@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    background-color: gray;
}
header {
    background-color: gray;

}

header > h1 {
    padding: 10px;
    text-align: center;
    color: #201f1f;
}

span#menu-hamburguer {
    color: rgb(161, 161, 161);
    background-color: #201f1f;
    display: block;
    text-align: center;
    padding: 10px;
}

span#menu-hamburguer:hover {
    background-color: white;
    color: black;
}
menu {
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(69, 69, 69);
    color: white;
    border-top: 2px solid rgb(210, 208, 208);
}

menu > ul > li > a:hover {
    background-color: rgb(96, 95, 95);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px; /*Tamanho do espaçamento de cada início do parágrafo*/
}