* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, ul {
    padding: 20px;
}

h1 {
    color: aquamarine;
    border: 1px solid white;
    margin: 10px;
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: pink;
}

ul {
    margin-left: 20px;
    column-count: 2;
}

ul > li {
    color: rgb(191, 191, 191);
    font-size: 1em;
}

ul > li > a {
    text-decoration: none;
    color: rgb(191, 191, 191);
    font-size: 1em;

}


ul > li > a:hover {
    color: lightblue;
}

p {
    padding: 25px;
}

p > a {
    text-decoration: none;
    color: aquamarine;
}

p > a:hover {
    color: pink;
}