@charset "UTF-8";
body {
    background-color: black;
    font-family: Arial;
}
h1 {
    color: greenyellow;
    font-size: 20px;
}
h2 {
    color: aquamarine;
    font-size: 15px;
}
p{
    color: white;
    text-align: justify;
    font-size: 12px;
}